.c{
    height: 100vh;
    position: relative;
}
.c-bg{
    width: 20px;
    height: 100%;
    background-color: #217ac4;
    position: absolute;
}
.c-wrapper{
    padding: 50px;
    display: flex;
}
.c-left{
    flex: 1;
}
.c-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.c-title{
    font-size: 60px;
    font-weight: 600;
    width: 80%;
}
.c-info-item{
    display: flex;
    margin: 50px 0px;
    font-weight: 300;
    width: 70%;
}
.c-info-item>a{
    text-decoration: none;
    color: #0d9be2;
    font-weight: 400;
}
.c-icon{
    width: 40px;
    height: 40px;
    margin-right: 20px;
}
.c-desc{
    font-weight: 300;
}
.c-form{
    margin-top: 20px;
}
input{
    width: 90%;
    height: 50px;
    border: 1px solid #217ac4;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
    border-radius: 20px;
}
textarea{
    width: 90%;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
    border-radius: 20px;
    border: 1px solid #217ac4;
}
button{
    width: 20%;
    border: none;
    padding: 15px;
    background-color: #217ac4;
    color: white;
    font-weight: 400;
    cursor: pointer;
    border-radius: 10px;
}
button:hover{
    transition: 0.3s ease-in-out;
    background-color: #043f70;
    color: white;
}
input:focus{
    border: none;   
}
.c-done{
    color: rgb(23, 216, 23);
}

@media screen and (max-width: 786px) {
    .c-wrapper {
        flex-direction: column;
        padding: 0px 50px;
      }
    
      .c-title {
        font-size: 40px;
      }
    
      .c-info-item {
        margin: 20px 0px;
        width: 100%;
      }
      .c-info-item>a{
        font-size: 15px;
    }
    
      form {
        margin-top: 0px;
        display: flex;
        flex-wrap: wrap;
      }
    
      input {
        width: 46%;
        height: 40px;
        margin: 10px;
        margin-left: 0;
      }
      input[type="email"] {
        width: 100%;
      }
      textarea{
          width: 100%;
      }
      button {
        margin-top: 10px;
        width: 100%;
      }
}

@media screen and (max-width: 480px) {
    .c-wrapper {
        flex-direction: column;
        padding: 0px 50px;
      }
    
      .c-title {
        font-size: 30px;
      }
    
      .c-info-item {
        margin: 20px 0px;
        width: 100%;
      }
      .c-info-item>a{
        font-size: 15px;
    }
    
      .c-desc {
        display: none;
      }
    
      form {
        margin-top: 0px;
        display: flex;
        flex-wrap: wrap;
      }
    
      input {
        width: 40%;
        height: 40px;
        margin: 10px;
        margin-left: 0;
      }
      input[type="email"] {
        width: 90%;
      }
      button {
        margin-top: 10px;
        width: 95%;
      }
}